body {
    display: grid;
    grid-template-areas:
        'logo title title'
        'navigacija pagrindinis sonas'
        'footer footer footer'
    ;
    grid-template-columns: 150px auto 15%;
    grid-template-rows: 75px auto 100px;
}
@media screen and (max-width: 992px) {
    body {
        grid-template-areas:
                'logo title'
                'navigacija pagrindinis'
                'footer footer'
    ;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    body>aside {
        display: none;
    }
}
body>nav {
    grid-area: navigacija;
}
body>main {
    grid-area: pagrindinis;
}
body>aside {
    grid-area: sonas;
}
footer{
    grid-area: footer;
}
.logo{
    grid-area: logo;
    width: 100%;
}
header{
    grid-area: title;
}